.main {
    background-color: #f1f1f1;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 0 1.8em 1.8em 0;
    padding: 1em 2em;
    &::-webkit-scrollbar {
        width: 0.8em;
    }
    &::-webkit-scrollbar-track {
        margin: 1.5em 0;
    }
    &::-webkit-scrollbar-thumb {
        height: 30px;
        background-color: #3d3d3d;
        border-radius: 200px;
    }
    input,
    textarea {
        border-radius: 0.5em;
        padding: 0.5em 0.8em;
        box-shadow: 0 0 1px black;
    }
    input {
        width: 100%;
    }
}

textarea {
    width: 100%;
    resize: none;
    &::-webkit-scrollbar {
        width: 0;
    }
}

.main-section {
    margin-bottom: 0.5em;
}

.main-info-header {
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 0.4em;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.35em;
        background-color: #c4c4c4;
    }
}

.education-piece {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;
    * {
        flex: 1;
    }
}

.experience-piece {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
    * {
        flex: 1;
        min-width: 30%;
    }
    .job-tasks {
        max-width: 32.5%;
        margin-left: auto;
    }
}

.submit {
    width: fit-content;
    margin: 2.5em 0 auto 0;
    cursor: pointer;
    &-btn {
        cursor: inherit;
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    background-color: #606063;
    border-radius: 0.6em;
    padding: 0.45em 1.2em;
    width: 100%;
    text-align: center;
}
