.sidebar {
    background-color: #a3a4ad;
    padding: 1.2em 1.5em;
    border-radius: 30px 0 0 30px;
    width: 25%;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30px;
        background-color: #3d3d3d;
    }
}
.profile-section:not(:last-child) {
    margin-bottom: 1em;
}

.fullname {
    margin-bottom: 0.7em;
    text-align: center;
    input {
        border-radius: 0.5em;
        padding: 0.35em 0.6em;
        font-size: 1rem;
        width: 90%;
    }
}

.user-pic {
    width: 50%;
    border-radius: 3000px;
    display: block;
    margin: 0 auto;
}

.profile-info-header {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0.4em;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.2em;
        background-color: #8a8787;
    }
}

.contact-piece {
    margin-bottom: 0.5em;
    label {
        font-size: 0.85rem;
        font-family: sans-serif;
        font-weight: bold;
        display: block;
        margin-bottom: 0.2em;
    }
    input {
        border-radius: 0.3em;
        padding: 0.15em 0.4em;
    }
}

.language-piece {
    margin-bottom: 0.5em;
    input {
        border-radius: 0.4em;
        padding: 0.2em 0.4em;
        &:first-child {
            max-width: 43%;
        }
        &:last-child {
            max-width: 33%;
        }
    }
    span {
        margin: 0 0.3em;
    }
}

.hobby-piece {
    margin-bottom: 0.5em;
    input {
        border-radius: 0.3em;
        padding: 0.15em 0.4em;
        max-width: 65%;
    }
}
